---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header";
import Hero from "../components/Hero";
import AboutWork from "../components/AboutWork";
import CurriculumVitae from "../components/CurriculumVitae";
import Footer from "../components/Footer";
import CursorTrail from "../components/CursorTrail";
---

<Layout title="Andrea Sánchez Blanco - Sr. Software Engineer">
  <CursorTrail client:load />
  <Header client:load />
  <main>
    <Hero client:load />
    <AboutWork client:load />
    <CurriculumVitae client:load />
  </main>
  <Footer client:load />
</Layout>
