---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.tsx";
import Hero from "../components/Hero.tsx";
import AboutWork from "../components/AboutWork.tsx";
import CurriculumVitae from "../components/CurriculumVitae";
import Footer from "../components/Footer.tsx";
---

<Layout title="Andrea Sánchez Blanco - Sr. Software Engineer">
  <Header currentPage="home" client:load />
  <main>
    <Hero client:load />
    <AboutWork client:load />
    <CurriculumVitae client:load />
  </main>
  <Footer client:load />
</Layout>
