---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header";
import Hero from "../components/Hero";
import AboutWork from "../components/AboutWork";
---

<Layout title="Andrea Sánchez Blanco - Sr. Software Engineer">
  <Header client:load />
  <main>
    <Hero client:load />
    <AboutWork client:load />
  </main>
</Layout>
